<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push" class="app-sidenav">
    <mat-toolbar color="primary">
      <span class="toolbar-filler"></span>
      <button mat-icon-button (click)="sidenav.toggle()"
              class="mat-icon-button sidenav-toggle-button" [hidden]="!sidenav.opened">
        <mat-icon aria-label="Menu" class="material-icons">close</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item class="sidenav-link" routerLink="/" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>list</mat-icon>
        <span mat-line class="title">List of accounts</span>
      </a>
      <a mat-list-item class="sidenav-link" routerLink="/account/create" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>add</mat-icon>
        <span mat-line class="title">Create an account</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar id="appToolbar" color="primary">
    <button mat-icon-button (click)="sidenav.toggle()"
            class="mat-icon-button sidenav-toggle-button" [hidden]="sidenav.opened">
      <mat-icon aria-label="Menu" class="material-icons">menu</mat-icon>
    </button>
    <button mat-button routerLink="/">
      <a style="font-size:220%;color:rgb(0,154,216);">Bank</a>
      <a style="font-size:220%;color:rgb(255,255,255);">Account</a>
    </button>
  </mat-toolbar>
  <router-outlet></router-outlet>
</mat-sidenav-container>
