<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push" class="app-sidenav">
    <mat-toolbar color="primary">
      <!--future svg to go here-->
      <span class="toolbar-filler"></span>
      <button mat-icon-button (click)="sidenav.toggle()"
              class="mat-icon-button sidenav-toggle-button" [hidden]="!sidenav.opened">
        <mat-icon aria-label="Menu" class="material-icons">close</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item class="sidenav-link" routerLink="dashboard/home" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>home</mat-icon>
        <span mat-line class="title">Home</span>
        <!-- <span mat-line class="secondary"></span> -->
      </a>
      <a mat-list-item class="sidenav-link" routerLink="/add" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>add</mat-icon>
        <span mat-line class="title">Add user</span>
        <!-- <span mat-line class="secondary"></span> -->
      </a>
      <a mat-list-item class="sidenav-link" routerLink="/search" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>search</mat-icon>
        <span mat-line class="title">Search</span>
        <!-- <span mat-line class="secondary"></span> -->
      </a>
      <a mat-list-item [matMenuTriggerFor]="menu">
        <mat-icon mat-list-icon>more_vert</mat-icon>
        <span mat-line class="title">More</span>
      </a>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>details</mat-icon>
          <span>User details</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>format_color_fill</mat-icon>
          <span>Theme</span>
        </button>
      </mat-menu>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar id="appToolbar" color="primary">
    <button mat-icon-button (click)="sidenav.toggle()"
            class="mat-icon-button sidenav-toggle-button" [hidden]="sidenav.opened">
      <mat-icon aria-label="Menu" class="material-icons">menu</mat-icon>
    </button>
    <button mat-button routerLink="/">
      <a style="font-size:220%;color:rgb(255, 104, 93);">Bank</a>
      <a style="font-size:220%;color:rgb(1, 213, 250);">Account</a>
    </button>

    <span class="toolbar-filler"></span>
    <button id="button-home" mat-button routerLink="dashboard/home">Home</button>
    <button id="button-admin" mat-button routerLink="dashboard/admin">Admin</button>
    <button id="button-login" mat-button routerLink="login" *ngIf="!(user | async)">Signin</button>
  </mat-toolbar>
  <router-outlet></router-outlet>
</mat-sidenav-container>
