* {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}

h1 {
  color: #009AD8;
  font-size: 35px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
}

button {
  background-color: #869a9e;
  color: white;
  margin-right: 10px;
  margin-top: 15px;
  width: 100px;
}

button:hover {
  background-color: #5e6f73;
}

table, td, tr, th {
  padding: 20px;
  border: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th {
  background-color: #869a9e;
  color: white;
}

input[type=text], select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

div {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
}

.mat-radio-button {
  margin-bottom: 15px;
}
