<div>
  <h1>Create account</h1>
  <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName">
      <mat-error *ngIf="firstName.invalid">Error: only letters</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>lastName</mat-label>
      <input matInput formControlName="lastName">
      <mat-error *ngIf="lastName.invalid">Error: only letters</mat-error>
    </mat-form-field>
    <button mat-button type="submit" [disabled]="!accountForm.valid">Submit</button>
    <button mat-button (click)="gotoList()">Return</button>
  </form>
</div>
