#details {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 300px;
}

#details td, #details th {
  border: 1px solid #ddd;
  padding: 20px;
}

#details tr:nth-child(even) {
  background-color: #f2f2f2;
}

#details tr:hover {
  background-color: #ddd;
}

#details th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #869a9e;
  color: white;
}

#button td {
  padding: 8px;
}

button {
  width: 100%;
  background-color: #869a9e;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #5e6f73;
}
